li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
}

a {
    color: var(--text-color1);
    font-family: var(--font-mono);
    text-decoration: none;
    display: inline;
    padding: 20px;
    font-weight: normal;
}

.menu-wrapper {
    float: right;
    margin-right: 40px;
    margin-top: 15px;
}

.logo-wrapper {
    float: left;
    margin: 10px;
    margin-left: 40px;
}

.resume{
    color: var(--text-color1);
    background-color: var(--highlight-color);
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    
    text-decoration: none;
    margin-top: 100px;
    font-family: var(--font-sans);
    margin-left: 20px;
}

img {
    height: 60px;
}

.wrapper {
    background-color: var(--bkg-color);
    height: 80px;
}