li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
}

a {
    color: var(--text-color1);
    font-family: var(--font-mono);
    text-decoration: none;
    display: inline;
    padding: 20px;
    font-weight: lighter;
}

.menu-wrapper {
    float: right;
    margin-right: 40px;
    margin-top: 20px;
}

.logo-wrapper {
    float: left;
    margin: 20px;
    margin-left: 40px;
}

.resume{
    color: var(--highlight-color);
    border: 1px solid;
    border-radius: 4px;
    padding-bottom: 0.4rem;
    padding-top: 0.6rem;
    padding-right: 1.0rem;
    padding-left: 1.0rem;
    line-height: 1.0s;
    text-decoration: none;
    margin-top: 100px;
    font-family: var(--font-sans);
    margin-left: 20px;
}

img {
    width: 50px;
}