

.emailWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

}

.emailWrapper::after {
    content: '';
    display: block;
    width: 1px;
    height: 90px;
    margin: 0 auto;
    background-color: var(--text-color2);
  }

a {
    margin: 20px auto ;
    margin-right: 15px;
    padding: 10px;
    font-family: var(--font-mono);

    letter-spacing: 0.1rem;
    writing-mode: vertical-lr;
    color: var(--text-color2);
    text-decoration: none;
    transition: 0.5s;
}

a:hover  {
    transform: translateY(-3px);
    color: var(--text-color1);
}