<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="wrapper">
    <ul>
        <li>
            <a href="https://www.linkedin.com/in/jonasbender/" class="fa fa-linkedin" 
            target="_blank"></a>
        </li>
        <li>
            <a href="https://github.com/jonasbender" class="fa fa-github" target="_blank"></a>
        </li>
        <li>
            <a href="https://twitter.com/jonasbender99" class="fa fa-twitter"
            target="_blank"> </a>
        </li>
    </ul>
</div>
