
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="wrapper">
    <ul>
        <li>
            <a href="https://www.instagram.com/jonasbender99/" target="_blank">
            <svg data-src="https://s2.svgbox.net/social.svg?ic=instagram" width="24" height="24"></svg>
            </a>
        </li>
        <li>
            <a href="https://www.linkedin.com/in/jonasbender/" target="_blank">
            <svg data-src="https://s2.svgbox.net/social.svg?ic=linkedin" width="24" height="24"></svg>
            </a>
        </li>
        <li>
            <a href="https://github.com/jonasbender"  
            target="_blank">
            <svg data-src="https://s2.svgbox.net/social.svg?ic=github" width="24" height="24"></svg>
            </a>
        </li>
        <li>
            <a href="https://twitter.com/jonasbender99" 
            target="_blank"> 
            <svg data-src="https://s2.svgbox.net/social.svg?ic=twitter" width="24" height="24" ></svg>
            </a>
        </li>
    </ul>

</div>
