/* You can add global styles to this file, and also import other style files */
body {
    --text-color1: #F4F4F4;
    --bkg-color: #262626;
    --text-color2: #8D8D8D;
    --highlight-color:  #0f62fe;
    --bg-01: #393939;

    --font-mono: 'Courier New', Courier, monospace;
    --font-sans: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif; 
  }
  
  /* body.dark-theme {
    --text-color: #eee;
    --bkg-color: #121212;
    --slider-color: #636363;
    --slider-acc-color: #d0d0d0;
    --scroll-bkg: #636363;
    --scroll-acc: #d0d0d0;
    --scroll-hov: #7d7d7d;
  } */
    
  body {
    background: var(--bkg-color);
    
  }