
<div class="wrapper">
<div class="start-wrapper">
    <p class="start-intro">Hi! My name is</p>
    <h1>Jonas Bender.</h1>
    <p class="start-desc">
    I'm a fullstack software engineer currently working as a Digital engineer
    at Cognizant Technology Solutions. I have a huge passion for technology and love
    to create awesome products with programming.
    </p>
    <div class="button">
        <a className="email-link" href="mailto:contact@jonasbender.net">
            Contact Me!
        </a>
    </div>     
    
</div>
</div>